<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="org.autumn.one.bean"/>
        <package name="org.autumn.one.pojo"/>
    </typeAliases>

    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${mybatis.driver}"/>
                <property name="url" value="${mybatis.url}"/>
                <property name="username" value="${mybatis.username}"/>
                <property name="password" value="${mybatis.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/autumn/one/dao/LoveFriendsMapper.xml"/>
    </mappers>
</configuration>