<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.automn.one.dao.BeautyDao">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getBeautyList" parameterType="String" resultType="org.automn.one.pojo.Beauty">
        <bind name="mohu" value="'%' + str + '%'"/>
        select * from beauty
        where name like #{mohu}
    </select>
</mapper>